.container {
  width: 100%;
  background-color: #f2f3f6;
  margin: 0 auto;
  padding: 4rem 0;
  display: flex;
  justify-content: space-evenly;
}

.ApplicationContainer {
  margin-top: 5rem;
  margin-bottom: 3rem;
}

h2 {
  margin: 0 auto;
  text-align: center;
}
