$primary-color: #f36522;
$title-color: #bababa;
.card {
  border: 1px solid $title-color;
  border-radius: 4px;
  width: 400px;
  height: 624px;
  display: flex;
  flex-direction: column;
  padding: 3rem 1.5rem;
  h4 {
    text-decoration: underline;
    font-weight: bold;
    text-decoration-color: $primary-color;
  }
  .detail {
    display: flex;
    justify-content: space-between;
  }
}
.cardDetail {
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
  p {
    color: $title-color;
    font-weight: bold;
    font-size: large;
    word-wrap: break-word;
  }
}
