* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* Global settings */
a {
  text-decoration: none;
}
ul {
  margin-bottom: 0;
}

.section-border {
  border: 2px dotted var(--grey-color);
}

/* Button styling */
.button {
  border: none;
  outline: none;
  padding: 8px 16px;
  transition: all 0.3s;
  background-color: #f36522;
  color: white;
}

.button:hover {
  opacity: 0.8;
}
.button-primary {
  background-color: var(--primary-color) !important;
  color: var(--white-color);
}
.button-secondary {
  background-color: var(--dark-color) !important;
  color: var(--white-color);
}

.button-full-width {
  display: block;
  width: 100%;
}
