$primary-color: #f36522;
.company {
  display: flex;
  justify-content: space-between;
  .information {
    width: 60%;
    h4 {
      text-decoration: underline;
      color: $primary-color;
      margin-top: 2rem;
      margin-bottom: 1rem;
    }
  }
}
