$background-color: #f2f3f6;
.company {
  padding: 3rem 0;
  background-color: $background-color;
  .slogan {
    display: flex;
    margin: 3rem 3rem;
    h1 {
      display: inline;
      p {
        color: #f36522;
      }
    }
  }
}
.semester {
  border: 1px solid #f36522 !important;
  padding: 1rem;
  border-radius: 4px;
  cursor: pointer;
  background-color: #f36522 !important;
  &:hover {
    color: #fff;
    background-color: #f36522;
    border-color: #f36522;
  }
  &:focus {
    color: #fff;
    background-color: #f36522;
    border-color: #f36522;
  }
}
