$background-color: #F2F3F6;
.company {
  padding: 3rem 0;
  background-color: $background-color;
  .slogan {
    display: flex;
    margin: 3rem 3rem;
  h1 {
    display: inline;
    p {
      color: #f36522;
    }
  }
  }
}