$background-color: #F2F3F6;
.job {
  background-color: $background-color;
  padding: 3rem 0;
  .slogan {
    display: flex;
    margin: 3rem 3rem;
  h1 {
    display: inline;
    p {
      color: #f36522;
    }
  }
  }
}
.description {
  font: bolder;
  font-size: 24px;
  border: 1px solid #bababa;
  border-radius: 4px;
  padding: 1rem;
  span {
    color: #f36522;
  }
}