.header {
  background-color: #f2f3f6;
  padding: 2rem 0;
}
.panel {
  display: flex;
  margin: 3rem 0 3rem 3rem;
  justify-content: space-between;
  .text {
    color: #f36522;
  }
}

.button {
  background-color: #f36522;
  color: white;
  font-size: bold;
}
.example {
  color: #bababa;
}
.btn {
  color: #bababa !important;
}
.btnJob {
  padding: 1rem 8rem;
  border-radius: 4px;
  margin: 2rem auto;
  display: flex;
}
.description {
  font: bolder;
  font-size: 24px;
  border: 1px solid #bababa;
  border-radius: 4px;
  padding: 1rem;
  span {
    color: #f36522;
  }
}